/* Large Tablet Devices */
@media only screen 
and (max-width : 1280px) {
	html, body{
		-webkit-touch-callout: none;
		-webkit-user-select: none; /* Webkit */
		-moz-user-select: none;    /* Firefox */
		-ms-user-select: none;     /* IE 10  */
	}

	.leftDetails, .footerForm{
		margin:0 auto;
		text-align: center;
	}

	.imgMacbook img{
		margin-left:0px;
		height:auto;
	}

}

/* Table Devices */
@media only screen 
and (max-width : 800px) {
	section#banner{
		padding-top:40px;
	}

	.leftDetails{
		padding-bottom:50px;
	}

	.emnailForm input, .footerForm input{
		width: 100%;
	    float: none;
	    text-align: center;
	}

	.emnailForm .btn-default, .footerForm .btn-default{
		margin-top: 10px;
		float:none;
	}

	.box{
		margin-right:0px;
		width:40%;
	}

	.footerForm{
		width:80%;
		margin-top:40px;
		padding:20px 20px;
	}
}

/* Smartphones */
@media only screen 
and (max-width : 500px) {
	.leftDetails{
		width:auto;
	}

	.footerForm{
		width:auto;
	}

	.box, .box h1, .box p{
		text-align:center;
		width:100%;
	}
}


@media only screen 
and (max-width : 350px) {
	.box{
		width:100%;
	}

	.sloganBanner, .sloganBanner span, .sloganBanner small{
		font-size:32px;
		line-height:40px;
	}
}
