/*reset*/
html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, p {
	border:0pt none;
	font-size:100%;
	margin:0pt;
	outline-color:invert;
	outline-style:none;
	outline-width:0pt;
	padding:0pt;
}


body { 
margin:0; 
padding:0; 
font-size:12px; 
font-family: 'Open Sans', sans-serif;
line-height:20px;
color:#000; 
}

.container{
	width:1620px !important;
	height:auto;
	max-width:100%;
}


section#nav{
	width:100%;
	min-height:60px;
	height:auto;
	background: #FFFFFF;

	-moz-box-shadow: 0px -1px 12px 0px rgba(74,104,138,0.24);
	-webkit-box-shadow: 0px -1px 12px 0px rgba(74,104,138,0.24);
	box-shadow: 0px -1px 12px 0px rgba(74,104,138,0.24);
	position: relative;
	z-index: 999;
}

	.logo{
		padding: 18px 0 0 0;
	}

	.socialIcons{
		padding:8px 0 0 0;
	}

		.socialIcons ul{
			margin:0;
			padding: 0;
			list-style: none;
		}
		.socialIcons ul li{
			display:inline;
		}
		.socialIcons ul a img{
			width:44px;
			height:44px;
		}


section#banner{
	width:100%;
	height:auto;
	min-height:800px;
	background: #F1F4F4;
	padding:150px 0 0 0;
}

	.sloganBanner{
		font-family: 'Open Sans', sans-serif;
		font-size: 42px;
		color: #617E7C;
		letter-spacing: 0.4px;
		line-height: 45px;
		color:#617E7C;
	}
		.sloganBanner span{
			color:#6CAFAB;
			margin:0;
			padding:0;
			font-size: 42px;
		}
		.sloganBanner small{
			color:#8cc887;
			margin:0;
			padding:0;
			font-size: 42px;
		}

	.leftDetails{
		width:454px;
		height:auto;
		margin:50px 0 0 150px;
	}	

		.leftDetails p{
			font-family: 'Open Sans', sans-serif;
			font-weight:600;
			font-size:16px;
			color: #8EA4A3;
			line-height: 30px;
			letter-spacing: -0.18px;
			padding:15px 0 0 0;
		} 

		.emnailForm input{
			float:left;
			width:320px;
			height:64px;
		}
		.emnailForm .btn-default{
			float:left;
			margin-left:8px;
			background-color: #FF9700;
			color:#fff;
			height:64px;
		}

		.imgMacbook img{
			width:100%;
			margin-left:-120px;
		}



section#mid{
	width:100%;
	height:auto;
	min-height:880px;
	background:#fff;
	padding-bottom:50px;
}

	.titleMid{
		text-align: center;
		margin:0 auto;
		padding-top:100px;
	}
	.titleMid h1{
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 28px;
		color: #8EA4A3;
		letter-spacing: -0.5px;
	}

	.titleMid h2{
		display:block;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #C7DADA;
		letter-spacing: 11px;
		margin-top:15px !important;
	}

	.midBox{
		display:block;
		margin:50px 0 0 0;
		clear:both;
		overflow: hidden;
		text-align: center;

	}

	.box{
		width:20%;
		height:auto;
		min-height:400px;
		background: #FFFFFF;
		border: 1px solid #C7DADA;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		padding:30px 40px;
		margin-right:40px;
		display:inline-block;
		clear:both;
		overflow: hidden;
		margin-bottom:20px;
		vertical-align: top;
	}

		.box:nth-child(2) h1{
			color:#89B4B1 !important;
		}

		.box:nth-child(3) h1{
			color:#FF9700 !important;
		}

		.box:last-child h1{
			color:#A17FA3 !important;
		}

	.box h1{
		font-family: 'Open Sans', sans-serif;
		font-weight:bold;
		font-size: 17px;
		color: #8DC689;
		letter-spacing: 0.25px;
		line-height: 30px;
		text-align: left;
	}

	.box p{
		opacity: 0.69;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #607E7C;
		letter-spacing: -0.46px;
		line-height: 30px;
		padding-top:20px;
		text-align: left;
	}
	
	#mc-embedded-subscribe{
		margin:1em 0 1em 0% !important;
	}
section#footer{
	width:100%;
	height: auto;
	min-height:720px;
	background: #C8DADA;
	clear:both;
	overflow: hidden;
}

	.footerForm{
		width:680px;
		height: auto;
		min-height:480px;
		background: #FFFFFF;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		margin:110px auto 0 auto;
		padding:90px 100px;
		-moz-box-shadow: -35px 36px 59px 0px rgba(98,126,124,0.18);
		-webkit-box-shadow: -35px 36px 59px 0px rgba(98,126,124,0.18);
		box-shadow: -35px 36px 59px 0px rgba(98,126,124,0.18);
	}

		.footerForm p{
			font-family: 'Open Sans', sans-serif;
			font-weight:600;
			font-size:16px;
			color: #8EA4A3;
			line-height: 30px;
			letter-spacing: -0.18px;
			padding:25px 0 10px 0;
		} 
